<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Typing Game</title>
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <div id="app">
        <div class="game-board">
            <div class="words-board" ref="words_board">
                <template v-for="word in currentWords">
                    <div class="word" :style="word.style">
                        <template v-for="(character,index) in word.characters">
                            <span :class="word.classList[index]">{{ character }} </span>
                        </template>
            </div>
            </template>
        </div>
        <template v-if="isGameStarted">
                <input type="text" class="word-input" v-model="inputWord"
                    @input="checkWordEquality();checkCharacter();">
                <div class="game-status">
                    <div class="game-status-item">
                        <label>Time</label>
                        <span>{{ getTime}}</span>
                    </div>
                    <div class="game-status-item">
                        <label>Score</label>
                        <span>{{score}}</span>
                    </div>
                </div>
            </template>
        <template v-else>
                <div class="game-options">
                    <div class="game-option">
                        <label>Game Mode </label>
                        <select @change="setGameMode" v-model="selectedGameMode">
                            <option v-for="(gameMode,index) in gameModes" :value="index"
                                :selected="index==selectedGameMode">
                                {{gameMode}}</option>
                        </select>
                    </div>
                    <div class="game-option">
                        <button class="btn" @click="play">Play</button>
                    </div>
                </div>
            </template>
    </div>
    <Modal :class="modalDisplayStatus ? 'open':''" :isgameover="gameOver" :modes="gameModes" @restart-game="restartGame" />
    </div>




</body>

</html>
<script src="assets/js/vue.global.js"></script>
<script src="assets/js/game.js" type="module"></script>