*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000000;
}

html {
    font-size: 10px;
}

body {
    background-color: #DB2777;
}

.game-board {
    width: 100vmin;
    height: 90vmin;
    display: flex;
    flex-direction: column;
    margin: 5vmin auto 0;
    -webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.words-board {
    background-color: #e0e0e0;
    color: #000000;
    height: 75%;
    padding: .5rem;
    font-size: 2.4rem;
    position: relative;
    overflow: hidden;
}

.word {
    position: absolute;
    padding: 0 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 1rem;
}

.word span {
    font-size: 2rem;
}

.word-input {
    width: 90%;
    margin: 1.5rem auto 0;
    height: 3.6rem;
    font-size: 1.6rem;
    padding: 1.5rem;
    border: 1px solid #c4c4c4;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.word-input:focus {
    outline: none;
    border: 1px solid #7bc1f7;
    box-shadow: 0px 0px 8px #7bc1f7;
    -moz-box-shadow: 0px 0px 8px #7bc1f7;
    -webkit-box-shadow: 0px 0px 8px #7bc1f7;
}

.game-status {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
    margin-top: 1.5rem;
}

.game-status-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.game-board label {
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: .5rem;
    color: #fff;
}

.game-board span {
    font-size: 2rem;
}

.game-options {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 1.5rem;
    padding: 1.5rem 0;
}

.game-option {
    display: flex;
    flex-direction: column;
}

.game-option select {
    font-size: 1.6rem;
    padding: 1rem;
}

.correct {
    color: lime;
}

.incorrect {
    color: red;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
    color: #fff;
}

.modal.open {
    visibility: visible;
    opacity: 1
}

.modal.open .modal-content {
    transform: translateY(0)
}

.modal-content {
    width: 80%;
    max-width: 100rem;
    margin: 5rem auto 0;
    border-radius: .6rem;
    background-color: #DB2777;
    border: .6rem solid #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .75);
    transition: all .3s ease-out;
    transform: translateY(-100rem)
}

.modal-header {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.modal-title {
    font-size: 2rem;
    font-weight: 500
}

.close {
    cursor: pointer;
    font-size: 3rem
}

.modal-body {
    padding: 2rem 1rem;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    font-size: 2rem;
    text-align: center
}

.modal-body p {
    padding: 2rem 5rem
}

.modal-footer {
    padding: 1rem;
    display: flex;
    justify-content: center;
    grid-gap: 2.5rem
}

.btn {
    outline: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    border-radius: .3rem;
    transition: all .5s;
    background-color: transparent;
    color: #fff;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .75);
    padding: 1rem;
    display: flex;
    justify-content: center;
    min-width: 12rem;
}

.btn:hover .btn-arrow {
    padding-left: 1rem
}

.btn-arrow {
    width: 2.5rem;
    transition: all .3s ease-in-out
}

.game-scores-container {
    width: 100%;
    max-width: 60rem;
    max-height: 30rem;
    overflow-y: auto;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
    margin: 2.5rem auto 0;
}

.game-scores {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.8rem;
}

.game-scores td,
.game-scores th {
    text-align: left;
    padding: 1rem;
}

.game-scores tr:not(:last-child) td,
th {
    border-bottom: 1px solid #dddddd;
}


/* width */

::-webkit-scrollbar {
    width: .8rem;
}


/* Track */

::-webkit-scrollbar-track {
    background: #dddddd;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 600px) {
    .game-board {
        margin: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        height: 55rem;
    }
}